*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore (¡crítico! nunca subir tu firma)
*.jks
*.keystore

# APK y builds
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
release/

# Google Services (API keys de Firebase)
google-services.json

# Logs
*.log

# OS
Thumbs.db

# Kotlin
*.kotlin_module
